TRELLO_KEY=
TRELLO_TOKEN=
SLA_MS=2000
SLA_MS_CREATE_BOARD=
SLA_MS_GET_BOARD=
SLA_MS_DELETE_BOARD=
SLA_MS_CREATE_LIST=
SLA_MS_ARCHIVE_LIST=
SLA_MS_CREATE_CARD=
SLA_MS_MOVE_CARD=
SLA_MS_COMMENT_CARD=
DEBUG_HTTP=
ENABLE_PERF=
PERF_WORKERS=
PERF_REPEAT=

